<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="w-screen py-2 flex justify-around border border-black">
        <div class="ml-2 p-2">
            <h1>KFUPM-Zoo</h1>
        </div>
        <nav>
            <ul class = "flex">
                <li class="p-2 rounded  text-gray-600 rounded hover:bg-gray-200  duration-300"><a href="#">Feed</a></li>
                <li class="p-2 rounded  text-gray-600 rounded hover:bg-gray-200  duration-300"><a href="#">Feed</a></li>
                <li class="p-2 rounded  text-gray-600 rounded hover:bg-gray-200  duration-300"><a href="#">Feed</a></li>
                <li class="p-2 rounded  text-gray-600 rounded hover:bg-gray-200  duration-300"><a href="#">Feed</a></li>

            </ul>
        </nav>
        <ul class="flex mr-2 p-2">
            <li class="mr-4 p-2 rounded text-white"><button>Sign up</button></li>
            <li><button>Login</button></li>
        </ul>
    </header>
</body>
</html>