<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <title>KFUPM-Zoo</title>
  
</head>
<body class="">
  <%- include('partials/header') -%>
  <form class="flex justify-center flex-col items-center" action="/post/createPost" enctype="multipart/form-data" method="POST">
    <div class="w-1/2 mt-4">
        <label for="title" class="">Title</label>
        <input class= "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" class="form-control" id="title" name="title">
    </div>
    <div class="w-1/2 mt-4">
      <label for="caption" class="">Caption</label>
      <textarea class= "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="caption" name="caption"></textarea>
    </div>
    <div class="mt-4">
      <div class="flex items-center justify-center w-full">
        <label for="imageUpload" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span></p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 3MB)</p>
            </div>
            <input type="file" id="imageUpload" name="file" class="hidden" />
        </label>
    </div> 
      <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="imgUpload" class="form-label">Image</label>
      <input  > -->
    </div>
    <h2>Type :</h2>
    <div class="mt-4">
      <ul class="flex justify-center flex-wrap">

        <li class="m-2 border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 ">
          <input class="peer hidden " type="radio" name="type" id="fox" value="fox">
          <label class=" peer-checked:bg-blue-600 flex flex-col justify-center w-full h-full cursor-pointer" for="fox">
            <i class="fa-solid fa-paw block text-center text-2xl"></i>
            <span class="text-center mt-2 font-semibold text-lg block" >Fox</span>
          </label>
        </li>
        <li class="m-2 border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 ">
          <input class="peer hidden " type="radio" name="type" id="duck" value="duck">
          <label class=" peer-checked:bg-blue-600 flex flex-col justify-center w-full h-full cursor-pointer" for="duck">
            <i class="fa-solid fa-feather block text-center text-2xl"></i>
            <span class="text-center mt-2 font-semibold text-lg block" >Duck</span>
          </label>
        </li>
        <!-- <li class="m-2 hover:text-green-600 duration-300">
          <label class="border w-24 h-32 flex justify-center flex-col border-gray-400 rounded" for="duck">
          <input type="radio" name="type" id="duck" value="duck">
          <span class="text-center mt-2 font-semibold text-lg" >Duck</span>
          </label>
        </li> -->
        <li class="m-2 border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300 ">
          <input class="peer hidden " type="radio" name="type" id="bird" value="bird">
          <label class=" peer-checked:bg-blue-600 flex flex-col justify-center w-full h-full cursor-pointer " for="bird">
            <i class="fa-solid fa-dove block text-center text-2xl"></i>
            <span class="text-center mt-2 font-semibold text-lg block" >bird</span>
          </label>
        <!-- </li>
        <li class="m-2 hover:text-green-600 duration-300">
          <label class="border w-24 h-32 flex justify-center flex-col border-gray-400 rounded" for="bird">
            <input type="radio" name="type" id="bird" value="bird">
            <i class="fa-solid fa-dove"></i>
            <span class = "text-center mt-2 font-semibold text-lg" >Bird</a>
          </label>
        </li> -->
        <li class="m-2 border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300  ">
          <input class="peer hidden " type="radio" name="type" id="orid" value="oria">
          <label class=" peer-checked:bg-blue-600 flex flex-col justify-center  w-full h-full cursor-not-allowed" for="oria">
            <i class="fa-solid fa-children block text-center text-2xl"></i>
            <span class="text-center mt-2 font-semibold text-lg block" >oria</span>
            <span class="text-gray-500 text-sm block p-2">(locked due to laws)</span>
          </label>
        </li>
        <!-- <li class="m-2 hover:text-green-600 duration-300">
          <label class="border w-24 h-32 flex justify-center flex-col border-gray-400 rounded" for="oria">
            <input disabled type="radio" name="type" id="oria" value="oria">
            <i class="fa-solid fa-children"></i>
            <span class="text-center mt-2 font-semibold text-lg" >Oria</a>
          </label>
        </li> -->
        <li class="m-2 border  w-24 h-32 flex justify-center flex-col border-gray-400 rounded hover:text-green-600 duration-300  ">
          <input class="peer hidden " type="radio" name="type" id="cat" value="cat">
          <label class=" peer-checked:bg-blue-600 flex flex-col justify-center  w-full h-full cursor-pointer" for="cat">
            <i class="fa-solid fa-cat block text-center text-2xl"></i>
            <span class="text-center mt-2 font-semibold text-lg block" >cat</span>
            
          </label>
        </li>
      </ul>
    </div>
    <button type="submit" class="btn-main mt-4" value="Upload">Submit</button>
  </form>
  <div class="h-8">

  </div>
  

</body>
</html>
