<%- include('partials/header') -%>
  <div class="flex justify-center">
    <ul>

      <li class="inline-flex items-center justify-between w-full p-5 ">     
        <div class="border">
          <a href="/feed/?type=fox">fox</a>
        </div>  
        <div class="border">
          <a href="/feed/?type=oria">oria</a>
        </div>    
        <div class="border">
          <a href="/feed/?type=duck">Duck</a>
        </div>    
        <div class="border">
          <a href="/feed/?type=bird">bird</a>
        </div>
        <div class="border">
          <a href="/feed?type=all">all</a>
        </div>                       
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a class="text-9x" href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>