<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KFUPM-Zoo</title>
  

  
</head>
<body>
  <%- include('partials/header') -%>
  <div class="flex justify-center flex-col items-center">
    <div class="flex justify-between w-1/2 mt-8 border-b-2">
      <h2>#</h2>
      <h2>UserName</h2>
      <h2>Score</h2>
    </div>
    <ul class="flex flex-col mt-8 w-1/2">
      <% for(var i=0; i<users.length; i++) {%>
        <li class="flex justify-between border-b-2 border-blue-400  mt-2 p-2">
          <h2><%=i+1%></h2>
          <h2><%=users[i].userName %></h2>
          <h2><%=users[i].totalScore %></h2>
        </li>



      <% } %>
      </ul>
  </div>

</body>
</html>
