<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFUPM-Zoo</title>
    

</head>
<body>
    <%- include('partials/header') -%>

    <main class="mt-4">
        <div class="flex justify-center ">
            <a href="/login" class="btn-main mr-4"> Login</a>
            <a href="/signup" class="btn-main"> Signup</a>
        </div>
    </main>
    

 
</body>
</html>
