<%- include('partials/header') -%>

<main class="">
  <div class="flex justify-center">
    <section class="flex flex-col">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
        <%= el.msg %>
      </div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class=""><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input 
            class = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn-main">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
